<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
                <img  src="{{Cat.image}}" class="card-img-top" alt="{{Cat.name}}" height="600">
                <div class="card-body">
                    <h5 class="card-title">{{Cat.name}}</h5>
                    <p class="card-text">{{Cat.description}}</p>
                </div>
    </div>
</div>