<div class="mt-4">
    <h3>Thêm thông tin mèo</h3>
    <form method="post" action="/cat/store">
        <div class="form-group">
            <label for="name">Tên mèo</label>
            <input type="text" class="form-control" id="name" placeholder="Tên mèo" name="name">
        </div><div class="form-group">
            <label for="image">Ảnh</label>
            <input type="text" class="form-control" id="image" placeholder="link ảnh" name="image">
        </div><div class="form-group">
            <label for="description">Thông tin</label>
            <input type="text" class="form-control" id="description" placeholder="Thông tin" name="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>