<div class="container mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2>Tin Tức Chính</h2>
                <img  src="{{Dog.image}}" class="card-img-top" alt="{{Dog.name}}" height="600">
                <div class="card-body">
                    <h5 class="card-title">{{Dog.name}}</h5>
                    <p class="card-text">{{Dog.description}}</p>
                    <a href="#" class="btn btn-primary">Đọc Tiếp</a>
                </div>
    </div>
</div>